@use './color' as color;
.form{
    transition: all 0.3s ease-in;
    width:100%;
    label,legend{
        display: none!important;
    }
    input{
        padding:12px 40px!important;
        width: 100%;
        background-color: color.$VeryDarkDesaturatedBlue;
        color:color.$LightGrayishBlue;
        padding:.6rem;
        border:none;
    }
    
    button{
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
        text-transform: capitalize;
        letter-spacing: 2px;
    }
    label{
        display: none;

    }
}