@media screen and (max-width:600px){
     .container{
        padding:1rem 5em!important;
        
        .heading{
            font-size: 1.95rem; 
        }
        .form{
            width:100%;
            margin:auto;
        }
       
        .table-container{
            max-width:100%!important;
            display: block;

           .table{

            width:100%!important;
            display: block;
            tr{
                margin:1rem 0;
            }
               th,tr,td,a{
            
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: color.$VeryDarkDesaturatedBlue;
                color:color.$LightGrayishBlue;
                transition: all 0.5s ease-in-out;
                font-size: 1rem;
                padding:0.5em;
            
              
        
    }
   
   
    th,tr,td{
        border:none;
        outline: none;
    }
           
           }
        }
    }
     tr{
        td{
            .original-url{
                
                    flex-basis:10px;
                }
        }
    }
    

}

@media screen and (max-width:800px){
    .container{
        max-width: 900px!important;
        .heading{
            font-size: 1.70rem; 
        }
       
        .table-container{
            display: block;
            margin:auto;
            width:100%;
            
        }
    }
    
    
}