@use './color' as color;
.table-container{
    letter-spacing: 1px;
   
    margin:auto;
    th,tr,td{
        background-color: color.$VeryDarkDesaturatedBlue;
        color:color.$LightGrayishBlue;
        transition: all 0.5s ease-in-out;
        font-size: 1.10rem;
        padding:0.5em;
    }
    th,tr,td{
        border:1px solid color.$VeryDarkGrayishBlue;
    }
    td{
        a{
            color:color.$LightGrayishBlue;
            text-decoration: none;
        }
    }
  
}